This is the version that has to be handed in for an assignment, so it obviously sucks. I will do a more proper version of it and upload that, including joomla and wordpress versions, for which will be for sale and not free.