body 
{
    background-color:Lime;
    
}

#container
{
    width:90%;
    margin:auto;
    background-color:Lime;
}

#top
{
    background-color:Gray;
    
}


#menu
{
    text-decoration:none;
   
}

#menu li 
{
    display:inline;
    text-decoration:none;
}

#content
{
    background-color:Green;
}

#columns
{
    width:70%;
    background-color:Green;
}

.column
{
    width: 31%;	
	float: left;
	padding:0.5em;	
	background-color:Green;
}

#rows
{
    background-color:Yellow;
    width:70%;
    float:left;
    height:350px;
    overflow:scroll;
    
}

.item 
{
    background-color:White;
    float: left;
    width: 90%;
    padding: 0.5em;  
    margin: 1em;  
}

.item img        
{
    float: left;
    padding: 0.25em;
}

.item img.right 
{
    float: right;
    padding: 0.25em;
}

.item img.left
{
    float: left;
    padding: 0.25em;
}

#panel
{
    position:absolute;
    width:25%;
    float: right;
    padding:0.5em;
    right:5%;

}



#footer
{
}